example/wsimport-episode/wsdl/multiply.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://npetzall/multiply/wsdl"
                  xmlns:auth="http://npetzall/authentication"
                  xmlns:sess="http://npetzall/session"
                  xmlns:mul="http://npetzall/multiply"
                  targetNamespace="http://npetzall/multiply/wsdl">

    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://npetzall/authentication" schemaLocation="authentication.xsd" />
            <import namespace="http://npetzall/session" schemaLocation="session.xsd" />
            <import namespace="http://npetzall/multiply" schemaLocation="multiply.xsd" />
        </schema>
    </wsdl:types>

    <wsdl:message name="credentials">
        <wsdl:part name="credentials" element="auth:Credentials"/>
    </wsdl:message>

    <wsdl:message name="session">
        <wsdl:part name="session" element="sess:Session"/>
    </wsdl:message>

    <wsdl:message name="input">
        <wsdl:part name="body" element="mul:Input" />
    </wsdl:message>

    <wsdl:message name="output">
        <wsdl:part name="body" element="mul:Output"/>
    </wsdl:message>

    <wsdl:portType name="MultiplyPort">
        <wsdl:operation name="Multiply">
            <wsdl:input message="tns:input" />
            <wsdl:output message="tns:output"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="MultiplyBinding" type="tns:MultiplyPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Multiply">
            <soap:operation soapAction="http://npetzall/Divide" style="document" />
            <wsdl:input>
                <soap:header message="tns:credentials" part="credentials" use="literal" />
                <soap:header message="tns:session" part="session" use="literal" />
                <soap:body message="tns:input" parts="body" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:session" part="session" use="literal" />
                <soap:body message="tns:ouput" parts="body" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MultiplyService">
        <wsdl:port name="port" binding="tns:MultiplyBinding">
            <soap:address location="http://localhost:8888/soap" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
