example/wsimport-episode/wsdl/session.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://npetzall/session"
           xmlns:tns="http://npetzall/session"
           elementFormDefault="qualified">
  <element name="Session" type="tns:SessionType"/>
  <complexType name="SessionType">
    <sequence>
      <element name="SessionToken" type="string"/>
      <element name="SessionIncrement" type="int"/>
    </sequence>
  </complexType>
</schema>
